@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSans/IRANSans.woff2') format('woff2'),
        url('../fonts/IRANSans/IRANSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gohar';
    src: url('../fonts/gohar/Gohar-Bold.woff2') format('woff2'),
        url('../fonts/gohar/Gohar-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    direction: rtl;
}
/* Navigation menu*/
#navigation {
    width: 100%;
    height: 67px;
}
#menu {
    display: flex;
}
#menu>li:not(.noborder) {
    height: 67px;
    list-style-type: none;
    border-left: 1px solid #f2f2f2;
    margin-right: 4px;
}
.noborder {
    height: 67px;
    list-style-type: none;
    margin-right: 4px;
}
.links,#menu>li>span {
    display: block;
    height: 75px;
    line-height: 75px;
    border-top: 4px solid white;
    text-decoration: none;
    font-family: "IRANSans";
    font-size: 11.5px;
    color: #767676;
    padding-left: 13px;
    padding-right: 13px;
    transition: all linear 350ms;
}
#home {
    display: block;
    height: 75px;
    line-height: 75px;
    text-decoration: none;
    font-family: "IRANSans";
    font-size: 11.5px;
    color: #1d4789;
    padding-left: 13px;
    padding-right: 18px;
    margin-right: 52px;
    border-top: 4px solid #1d4789;
}
#logo {
    display: block;
    height: 75px;
    line-height: 75px;
    border-top: 4px solid white;
    text-decoration: none;
    font-family: "IRANSans";
    padding-left: 10px;
    padding-right: 20px;
}
#search {
    line-height: 70px;
    text-decoration: none;
    font-family: "IRANSans";
    font-size: 18px;
    margin-right: 50px;
    color: #767676;
}
#menu>li>span:hover,.links:hover{
    color: #1d4789;
    border-top: 4px solid #1d4789;
}
/*End of Navigation Menu*/
/* Navigation Submenu*/
.submenu , .submenu1 , .submenu2 {
    width: 200px;
    visibility: hidden;
    background-color: #f2f2f2;
    position: absolute;
    border-radius: 10px;
}
.submenu1 , .submenu2 {   
    margin-top: -42px;
    margin-right: 195px;
}
.submenu li {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    list-style-type: none;
}
.submenu li:not(:last-child){
    border-bottom: 1px solid #e6e6e6;
}
.submenu a{
    display: inline-block;
    width: 97%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-family: "IRANSans";
    font-size: 11.5px;
    color: #767676;
}
.submenu i {
    font-size: 9px;
    color: #acacac;
    margin-right: -5px;
}
.submenu li:hover .submenu1, .submenu1 li:hover .submenu2, #menu li:hover .submenu{
    visibility: visible;
}
.submenu li:hover {
    background-color: #e4e4e4;
}
.submenu a:hover {
    color: #2e2e2e; 
}
.submenu li:first-child:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.submenu li:last-child:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*End of Header*/
/*Fixed elements*/
#robot {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url("../images/robot.jpg");
    background-size: contain;
    position: fixed;
    bottom: 30px;
    right: 60px;
    transition: all linear 400ms;
    z-index: 20;
}
#robot:hover {
    transform: scale(1.1);
}
.fixed {
    display: block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    position: fixed;
    font-family: "IRANSans";
    color: #262626;
    background-color: #fcfcfc;
    font-size: 11px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 20;
}
#fixed1 {
    bottom: 140px;
    right: 57px;
    width: 224px;
}
#fixed2 {
    bottom: 100px;
    right: 57px;
    width: 174px;
}
#link2top {
    width: 42px;
    height: 42px;
    border-radius: 3px;
    background-color: white;
    color: #28508f;
    position: fixed;
    bottom: 30px;
    left: 10px;
    text-decoration: none;
}
#link2top i {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    margin: auto;
}
/* End of Fixed elements*/
/*box1*/
#box1 {
    width: 100%;
    height: 570px;
    background-image: url("../images/1.jpg");
    background-size: cover;
}
#box1 h1 {
    height: 35px;
    font-family: "gohar";
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 190px;
    line-height: 35px;
    animation-name: box1-h1;
    animation-duration: 1s;
    animation-direction: alternate;
}

@keyframes box1-h1 {
    from {font-size: 35px;}
    to {font-size: 40px;}
  }
#certificate {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#certificate img {
    height: 210px;
}
.box1-img {
    animation-name: box1-img;
    animation-duration: 2s;
}
@keyframes box1-img {
    from {transform: scale(0.9);}
    to {transform: scale(1);}
}
/*end of box1*/
/*box2*/
#box2 {
    width: 100%;
    height: 552px;
}
#pegah {
    width: 300px;
    height: 90px;
    background-image: url("../images/5.png");
    margin: 50px auto 10px;
}
#p1 {
    font-family: "gohar";
    color: #1d4789;
    text-align: center;
    margin-bottom: 20px;
}
#p1 span {
    color: #fe4b4b;
}
#box21 {
    display: flex;
    justify-content: center;
}
#box21 a {
    display: block;
    height: 300px;
    text-decoration: none;
    opacity: 80%;
    transition: all linear 300ms;
}
.marginleft {
    margin-left: 63px;
}
#box21 a:hover {
    opacity: 100%;
    transform: translateY(-5px);
}
/* end of box2*/
/* box3 */
#box3 {
    width: 100%;
    height: 665px;
    background-color: #e86d87;
    background-image: url("../images/bg-main.png");
    background-size: cover;
    overflow: hidden;
}
#box3>h2,p {
    width: 100%;
    font-family: "gohar";
    color: white;
    text-align: center;
}
#box3>h2 {
    font-size: 30px;
    padding-top: 20px;
}
#box3>p {
    font-size: 18px;
}
#kitchen {
    width: 645px;
    margin-right: 150px;
    margin-top: 10px;
    float: right;
}
#kitchen div {
    height: 90px;
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
    border-radius: 10px;
}
.kitchena {
    text-decoration: none;
    font-family: "IRANSans";
    color: white;
    font-size: 13px;
}
#kitchen img {
    border-radius:10px;
    margin-left:10px;
    float:right;
    clear:both;
}
#box3a {
    text-decoration: none;
    font-family: "IRANSans";
    color: white;
    font-size: 13px;
    text-align: center;
    position: relative;
    top: 30px;
    right: 470px;
}
#kitchen h3 {
    font-family: "gohar";
    font-size: 16px;
    margin-left: 20px;
    line-height: 30px;
    color: white;
    text-align: justify;
}
.box3p {
    font-family: "IRANSans";
    color: white;
    line-height: 28px;
    font-size: 13px;
    width: 618px;
    text-align: justify;
}
#chef {
    width: 483px; 
    transition: all linear 1.5s;
}
#chef:hover {
    transform: scale(1.02);
}
#kitchen div:hover {
background-color: #e04567;
}
/*end of box3/
/* box4 */
#box4 {
    width: 100%;
    height: 610px;
    z-index: 20;
}
#box4>p {
    font-family: "gohar";
    color: #1d4789;
    font-size: 30px;
    margin-top: 40px;
}
#socialmedia {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#socialmedia>a {
    display: block;
    height: 45px;
    line-height: 45px;
    margin-left: 14px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "IRANSans";
    color: white;
    font-size: 13px;
    padding: 0px 20px;
}
#insta {
    background-color: #dd3333;
}
#aparat {
    background-color: #f92c53;
}
#linkedin {
    background-color: #1e73be;
}
#socialmedia i {
    margin-left: 30px;
}
#instagram {
    width: 50%;
    height: 420px;
    background-image: url("../images/instagram.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    margin-top: 30px;
    transition: all ease-in 1.5s;
}
#boxes {
    width: 45%;
    height: 400px;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
#boxes a {
    display: inline-block;
    width: 182px;
    height: 182px;
    background-color: #e86d87;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;
    transition: all linear 800ms;
}
#boxes img {
    height: 182px;
    border-radius: 10px;
}
#instagram:hover {
    transform: scale(1.03);
}
#boxes a:hover {
    opacity: 80%;
}
/*end of box4*/
/* box5*/
#box5 {
    width: 100%;
    height: 420px;
    background-image: url("../images/1.jpg");
    background-size: cover;
}
#box5>p {
    font-family: "gohar";
    font-size: 30px;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}
#box5boxes {
    width: 100%;
    height: 280px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#box5boxes div {
    width: 20%;
    height: 50%;
}
#box5boxes img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all linear 1.5s;
}
#box5boxes p {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
#box5boxes div:hover img {
    transform: scale(1.03);
}
/*end of box5*/
/*box6*/
#box6 {
    width: 100%;
    height: 280px;
}
#box6 p {
    color: #ff6555;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 15px;
}
#box6 div {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
#box6 video {
    width: 280px;
    height: 160px;
    margin-left: 25px;
}
/*end of box6*/
/*box7*/
#box7 {
    width: 100%;
    height: 625px;
}
#box71 {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: right;
    background-color: #124297;
}
#box72 {
    width: 50%;
    height: 100%;
    display: inline-block;
    background-color: #e86984;
}
.box7firstp {
    font-family: "gohar";
    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
    margin-top: 30px;
}
.box7boxes {
    width: 85%;
    height: 90px;
    margin-bottom: 20px;
    margin-right: 64px;
}
#box7 img {
    display: inline-block;
    height: 90px;
    width: 115px;
    border-radius: 10px;
    float: right;
    clear: both;
    margin-left: 10px;
}
.box7a {
    text-decoration: none;
    font-family: "gohar";
    color: white;
    font-size: 16px;
    line-height: 30px;
}
.box7secondp {
    font-family: "IRANSans";
    font-size: 13.5px;
    color: white;
    text-align: justify;
    text-decoration: none;
    line-height: 30px;
}
.box7lastlink div {
    height: 30px;
    direction: ltr;
    background-color: yellow;
}
.box7lastlink {
    font-family: "IRANSans";
    font-size: 13px;
    color: white;
    text-decoration: none;
    line-height: 30px;
    margin-left: 10px;
}
/*end of box7*/
/*footer*/
#box8 {
    width: 100%;
    height: 572px;
    background-image: url("../images/footer.jpg");
    background-size: cover;
}
#box81 {
    width: 100%;
    height: 15%;
    background-color: rgb(44,50,58,0.6);
}
#box81 p{
    font-family: "IRANSans";
    text-align: center;
    font-size: 13px;
    color: white;
    line-height: 85px;
}
#box81 a {
    text-decoration: none;
    font-family: "IRANSans";
    font-size: 14px;
    color: white;
}
#box81 a:hover {
    color: rgb(13, 149, 229);
}

#box82 {
    width: 100%;
    height: 74%;
    display: flex;
    justify-content: center;
}
.box82{
    width: 20%;
    height: 100%;
    margin-left: 12px;
    margin-right: 12px;
}
.box82 img {
    display: block;
    margin: 50px auto 20px;
}
.box82 p {
    font-family: "IRANSans";
    font-size: 13px;
    text-align: justify;
    
}
.box82 h3 {
    font-family: "gohar";
    font-size: 16px;
    color: white;
    margin-top: 50px;
}
.box821 {
    display: block;
    width: 100%;
    height: 55px;
    text-decoration: none;
    background-color: rgb(44,50,58,0.6);
    margin-top: 5px;
    font-family: "IRANSans";
    font-size: 13px;
    line-height: 55px;
    color: #cccccc;
}
.box821:hover {
    background-color: #494e57;
    color: white;
}
#box82 iframe {
    margin-top: 20px;
}

#box83 {
    width: 90%;
    height: 10%;
    box-sizing:border-box;
    margin: 0px auto;
    border-top: 1px solid #f89c00;
}
#box83 div {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: right;
}
#box83 p {
    font-family: "IRANSans";
    font-size: 12px;
    text-align: right;
    padding-right: 40px;
    color: #bfbfbf;
    line-height: 55px;
}
#box83 i {
    font-size: 14px;
    color: #bfbfbf;
}
#box83 a {
    display: inline-block;
    text-decoration: none;
    line-height: 55px;
    margin-left: 15px;
}
/* end of footer*/